:root {
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #082c6c;
	color: #fff;
}

body {
    display: flex;
	flex-direction: column;
	height: 105vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

 

.title{
	position: absolute;
	top: 0;
	font-size: 3rem;
	z-index: 2;
}

 

#result {
    font-size: 20px;
    margin-top: 0px;
}

#result2 {
    font-size: 25px;
    margin-top: 0px;
}

#result3 {
    font-size: 45px;
    margin-top: 10px;
	font-weight: 200;
}

#restart{
	width: 200px;
	height: 50px;
    margin: auto;
	display: none;
	outline: none;
	border: none;
	cursor: pointer;
	margin-top: 5px;
	background-color:#082c6c;
	border-radius: 10px;
	border: solid white 4px;
	color: white;
	font-size: 20px;
	margin-bottom: 15px;
}

#start{
	border-radius: 10px;
	border: solid white 3px;
	width: 200px;
	height: 50px;
	margin-top: 5px;
	font-size: 20px;
}

 

.score h1{
	color: green;
	font-size: 3rem;
}

.score h2{
	margin-top: 0px;
	text-align: center;
}

